:root{
    /*colors*/
    --color-text: #fff;
    --color-primary: #b94266;
    --color-secondary: #f37c8e;
    --color-dark: #fc6a80;
    --color-bg: #fc6a80;
    
    /*font */
    --font-robot: "Roboto";   
}